body{
	background-color: #F0F6FF;
}
nav ul{
	display: inline-block;
	margin-right: 150px;
	margin-top: 5px;
}
nav ul li{
	margin-right: 30px;
	margin: 15px;
}
nav ul li a{
	color: #000086;
	font-family: bold;
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
}
nav ul li::after{
	content: '';
	width: 100%;
	height: 0px;
	display: block;
	background: blue;
	margin-top: 10px;
}

nav ul li:hover::after{
	height: 3px;
	transition: 0.3s;
}
img{
	height: 95px;
	width: 250px;
}
button{
	width: 150px;
	height: 65px;
	font-size: 20px;
	color: #00005E;
	background: transparent;
	border: 4px solid #00005E;
	border-radius: 20px;
	margin-right: 20px;
	margin-top: 20px;
	text-decoration: unset;
}
button:hover{
	background: #00005E;
	color: #fff;
	transition: 0.8s;
}